node_modules
.next
.vercel
.DS_Store

.env.local
next-env.d.ts

public/images/hero-alley-11.jpeg
public/images/hero-edinburgh-dome-16.jpeg
public/images/hero-edinburgh-gallery-14a.jpeg
public/images/photo-11a.jpg
public/images/photo-11b.jpg

*.bak-*
